// cards with actions
#ublock[domain="www.imdb.com"].ipc-poster-card:has(> .ipc-poster-card__actions) {
    padding-bottom: 0;
}

// card's actions (watchlist, info, trailers)
.ipc-poster-card__actions {
    display: none;
}

// card's title container
.ipc-poster-card__title {
    white-space: nowrap;
    text-align: center;
    display: inline-block; // necessary for text-overflow

    // actual text
    & > span {
        vertical-align: -webkit-baseline-middle;
    }

    // remove decoration
    &.ipc-poster-card__title--clickable:hover {
        text-decoration: none;
    }
}

// card's rating
.ipc-rating-star-group {
    align-self: center;
}
.ipc-rating-star-group .ipc-rating-star--currentUser,
.ipc-rating-star-group .ipc-rating-star--imdb {
    margin: 0 0.5rem;
}

// list page cards title
.ipc-poster-card__title:has(+ .gtc-title-metadata) {
    padding-top: 1rem;
}
// list page cards metadata
.gtc-title-metadata {
    display: none;
}
// fix list page cards rated stars (made it center)
.gli-rating-group:has(~ .gtc-title-metadata) .ipc-rate-button.ipc-rate-button--rated .ipc-rating-star {
    padding: 0px 0.5rem;
}
