.imdb-header__nav-drawer {
    // watch/awards and events/celebs/community menus
    .navlinkcat:has(input[data-category-id="video"], #nav-link-categories-awards, #nav-link-categories-celebs, #nav-link-categories-comm) {
        display: none;
    }
    // useless menu items in movies, tv
    .navlinkcat__listContainerInner > ul > a:has-text(/Movie Spotlight|Movie News|Showtimes & Tickets|on TV & Streaming|TV News/i) {
        display: none;
    }

    // imdb pro button
    #ublock[domain="m.imdb.com"]a[href*="https://pro.imdb"],
    // select language
    #ublock[domain="m.imdb.com"]label[aria-label="language-select"] {
        display: none;
    }
}
